<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Modern History是一个近代名人事件管理系统</p>
    <p><a href="https://github.com/FanHuaRan/ModernHistory" class="btn btn-primary btn-lg">源码地址 &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>系统功能简介</h2>
        <p>提供相关数据的增加、删、改、查功能，图片上传下载功能，可以使用OAUTH2进行资源保护（可选）</p>
        <p><a class="btn btn-default" href="https://github.com/FanHuaRan/ModernHistory">GitHub&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>系统架构简介</h2>
        <p>整体采用SOA架构.服务端使用ASP.NET WEBAPI2.1 客户端不限</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>开发工具和平台</h2>
        <p>VS2017、Swagger、.NET4.5.2</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
</div>
